- name: Setup Apache and deploy website
  hosts: web1
  become: yes

  tasks:
    - name: Update apt
      apt:
        update_cache: yes

    - name: Install Apache
      apt:
        name: apache2
        state: present

    - name: Start Apache
      service:
        name: apache2
        state: started
        enabled: yes

    - name: Clone the website repository from GitHub
      git:
        repo: 'https://github.com/Dhivakaran07/jenkin.git'
        dest: '/var/www/html'
        version: 'main'
        force: yes

    - name: Ensure the correct permissions for the website folder
      file:
        path: /var/www/html
        owner: www-data
        group: www-data
        mode: '0644'
        recurse: yes

